// acept
$aceptBase: #E5D9B6;
$aceptVerdeBase:#A4BE7B;
$aceptVerdeDestaque:#5F8D4E;
$aceptVerdeSombra:#285430;

// base
$colorBase:#DCD7C9;
$colorBaseDark:#2C3639;
$colorBaseGrey:#3F4E4F;
$colorBaseDestaque:#A27B5C;

//Cor Alert

$alertRed:#FF1E00;
$alertBlack:#000000;
$alertGreen:#59CE8F;
$alertBase:#E8F9FD;

// cor base
$azul:#4B69FD;
$branco:#FFF9EB;
$laranja:#FE652B;