@import "styles/variaveis";

.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px $colorBaseDark;
    border-radius: 15px;
    margin: 1rem 2rem;

    input,
    button {
        border-color: $colorBaseDestaque;
        color: $colorBaseDestaque;
    }

    input {
        font-size: 1.5rem;
        padding: .5em 1em;
        border-radius: 15px 0 0 15px;
        flex-grow: 1;
        border: 2px solid $colorBaseDestaque;
        background-color: $colorBase ;

        &::placeholder {
            color: $colorBaseDestaque;
            font-size: 1.2rem;
            text-align: center;
        }

        &:not(:placeholder-shown)+button {
            background-color: $aceptVerdeBase;
            color: $aceptBase;
            cursor: pointer;
        }
    }

    button {
        font-size: 1.5rem;
        padding: .5em 1em;
        border-radius: 0 15px 15px 0;        
        border: 2px solid $colorBaseDestaque;
        background-color: $colorBaseGrey;
    }
}

.alert {
    font-size: 1.3rem;
    color: $alertRed;
    border-bottom: 2px solid $alertGreen;
    padding: 0 .5em;
}